.MovieDetails {
    padding: 20px;
    height: 100vh;
    overflow-y: auto; /* Allows vertical scrolling */

  }
  
  .MovieDetails.light {
    background-color: #ffffff; 
    color: #000000; 
  }
  
  .MovieDetails.dark {
    background-color: #000000; 
    color: #ffffff; 
  }